@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/*Logo*/
#Untangle{
    font-family: 'Fuggles', cursive;
    font-size: 3rem;
    width:1.5rem;
    text-transform: lowercase;
    color:red;
    font-weight: 900;
}

/*Navigation Bar*/
.nav{
    border-bottom: 1px gray solid;
    position: fixed;
    top:0;
    width: 100%;
    background: rgba(0,0,0,0.4);
    color: blanchedalmond;

    &_toggle{
        position: absolute;
        cursor: pointer;
        right: 0;
    

    svg{
        width:1.5rem;
        fill:white;
        padding-top: 1rem;
    }

    .close{
        display: none;
    }

    .menu{
        margin-top: 0.2rem;
    }

    }
    
    &_checkbox{
        display: none;
    }

    &_menu{
        display:flex;
        flex-direction: column;
        gap:2rem;
        align-items: center;
        margin: 1rem;

        li{
            text-transform: uppercase;
            list-style: none;
            display: none;
            &:first-child{
                margin-right: auto;
                display: block;
            }
        }

        a{
            text-decoration: none;
            color:inherit;
        }

        

    }

    svg{
        width: 3rem;
        padding-right: 1rem;
    }
} 
#nav_checkbox:checked ~ ul.nav_menu li{
        display: block;
    }

#nav_checkbox:checked ~ label.nav_toggle .close{
        display: block;
    }

#nav_checkbox:checked ~ label.nav_toggle .menu{
        display: none;
    }

/*Content*/

body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    height: auto;
    background: black;
}
/*Landing*/

#landing h1{
    font-size: 4rem;
    color:rgb(167, 11, 11);
    font-family: 'Fuggles', cursive;

}

#landing{
    display: flex;
    flex: 0 1 40vw;
    height: 100vh;
    justify-content: center;
    background-image: url('Untangle_main.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
    align-items: flex-end;
    font-size: 4rem;
}

/*Library*/
#lib{
    background-color: black;
}
#lib-img{
    display: flex;
    height: 100vh;
    background-image: url('Untangle_library.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#atg-text{
    display: block;
    color: blanchedalmond;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 25vh;
    padding-bottom: 25vh;

    h2, h3{
        font-family: 'PT Sans', sans-serif;
        font-weight: 400;
        }
    
    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.5rem;
    }

}

/*Classroom*/
#classroom{
    background-color: black;
}

#classroom-img{
    display: flex;
    height: 100vh;
    background-image: url('Untangle_classroom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#purchase{
    display: block;
    padding-top: 25vh;
    font-size: 2.75rem;
    color: blanchedalmond;
    align-items: center;
    justify-content: center;
    text-align: center;     
    font-family: 'PT Sans', sans-serif;
                   
}

/*ATG*/
#aboutus{
    background-color: black;
    color:white;
    font-family: 'PT Sans', sans-serif;

}

#aboutus-title{
    
    font-size: 2rem;
}

img{
    display:block;
    width:100vw;
}

#aboutus-text{
    display: block;
}

/*footer*/
footer{
    display: block;
    height: 20vh;
    padding-top: 5vh;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2{
        font-weight: 400;
        font-size: 2rem;
        
    }
}


@media (min-width:1000px) {


#atg-text{
    padding-left: 35vh;
    padding-right: 35vh;
    padding-top: 10vh;
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 3rem;
    }
    p{
        font-size: 1.2rem;
    }

}
#purchase{
    font-size: 5rem;
    padding-left: 5vh;
    padding-right: 5vh;

}


}
@media (min-width:700px){
#purchase{
    font-size: 5rem;
    padding-top: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;

}

     #aboutus-content{
        display: flex;
        img{
            padding-left: 5vw;
            width: 20%;
        }

    }

    #aboutus-text{
        padding-left: 5vw;
    }

    
    

}

@media (min-width:560px){
    .nav{
        &_toggle{
            display: none;
        }
        &_menu{
            flex-direction: row;
        }
        li{
            display: block;
        
        }

        a{
            display: inline-block;
        }
        a:hover{
            background: #ddd;
            color: black;
            display: inline-block;
            

        }

    
    }
}